[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=nohup bash /.launcher.sh
Name=Notification Spammer Launcher
Comment=Launcher For benpi88/notification-spammer
